
div.cita {
	border-style: dotted; 
	border-width: 1px; 
	padding: 0px 0px 0px 0px; 
	-moz-border-radius-topleft: 5px; 
	-moz-border-radius-topright: 5px; 
	-moz-border-radius-bottomright: 5px; 
	-moz-border-radius-bottomleft: 5px; 
	background-color: #A2B7EE;
	color:#986301;
	margin-bottom: 0px; 
	margin-top: -10px; 
}
